body{
  background: white;
  height: 100%;
}


.app{
  background-image: 
  url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/cherry-blossoms-trivia-facts-1519937792.jpg');
  text-align: center;
  margin: auto;
  /* border-top: 3px solid black; */
  border-bottom: 3px solid black;
  font-family: 'Julius Sans One', sans-serif;
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  font-size: 18px;
}