body{
  background: white;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-image: 
  url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/cherry-blossoms-trivia-facts-1519937792.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: inherit;
}


.app{
  text-align: center;
  margin: auto;
  font-family: 'Julius Sans One', sans-serif;
  height: 100%;
  width: 100%;
}

.app-content{
  max-width: 900px;
  min-width: 400px;
  padding: 40px;
  padding-top: 0;
  margin: auto;
}

.app-content-box{
  background: white;
  width: 100%;
  padding: .1px;
  border: 2px solid black;
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 10px 10px 20px 5px rgba(0,0,0,0.5);
}

.app-content-shrink{
  max-width: 500px !important;
}

p {
  font-size: 18px;
}