.dashboard{
  padding: 20px;
}


.word-progress{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.word-progress-element{
  padding: 10px;
  flex-grow: 1;
}


.progress p{
  margin: 5px 0;
}