

h2 {
  height: 50px;
  display: block;
  margin-top: 0px;
  padding-top: 20px;
  
}

.login-label {
  text-align: center;
  /* margin-top: 0px; */
  color: white;
  background-color: black;
  display: inline-block;
  padding: 10px;
}

.flex-left-land{
  display: inline-block;
  /* width: 44%; */
  /* background: white; */
  /* border-top: 20px solid black; */
  /* text-align: left; */
  /* display: inline-grid; */
  /* padding: 20px; */
  /* justify-content: left; */
}

.flex-right-land{
  display: inline-block;
  /* width: 30%; */
  /* background: white; */
  /* border-top: 20px solid black; */
  /* text-align: center; */
  /* justify-content: right; */
}

.web-h2-title{
  display: inline-block;
}