
.landing-content{
  display: inline-flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.landing{
  padding-top: 20px;
}

.landing h2{
  margin: 0;

}

.landing-content-left{
  max-width: 500px;
  padding: 10px;
}
.landing-content-left{
  min-width: 300px;
  padding: 10px;
}
