
.landing-content{
  display: inline-flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.landing{
  padding-top: 20px;

}

.landing h2{
  margin: 0;
  margin-bottom: 20px;

}

.landing-content-left{
  max-width: 450px;
  padding: 10px;
}
.landing-content-right{
  padding: 10px;
}

/* .form-container{
  max-width: 230px;
} */

.registration-form input{
  margin-bottom: 10px;
  height: 2.5em;
}

@media(max-width: 650px){
  .landing-content-right{
    width: 100%;
    max-width: 400px;
  }
  .registration-form,
  .registration-form input{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}