.login-form{
  display: inline-flex;
  padding: 0px;
  flex-wrap: wrap;
}

.login-form-e{
  display: inline-flex;
  align-self: flex-end;
  padding: 0px;
}

.login-form-e label{
  padding: 0;
}

.login-form-e *{
  align-self: flex-end;
}

@media(max-width: 650px){
  .login-form{
    flex-direction: column;
  }

  .login-form-e{
    margin-bottom: 10px;
  }

  .login-form-e input{
    height: 2em;
  }
}